<div class="ui left vertical inverted labeled icon sidebar menu panel">
    <div class="ui inverted red menu">
      <a class="item" style="float:right" ui-sref="home.tickets-create">
        <i class="plus icon"></i>
      </a>
    </div>
    <div ui-view="panel"></div>
    <div class="ui buttons">
        <div class="ui red button" ui-sref="home.search" ng-class="{ active: $state.$current.data.active === 'search'}">Tickets</div>
        <div class="ui red button" ui-sref="home.tickets" ng-class="{ active: $state.$current.data.active === 'tickets'}">My Tickets</div>
    </div>
</div>
<div class="container pusher">
    <div class="ui inverted menu navbar">
        <a class="item" ng-click="openSidebar()">
            <i class="content icon" ng-click="openSidebar"></i>
        </a>
        <div class="ui dropdown item" dropdown>
            <i class="dropdown icon"></i>
            Profile
            <div class="menu">
                <a class="item" href="#/home">Home</a>
                <a class="item" ng-hide="signedIn()" ng-click="openLogin('login')">Log In</a>
                <a class="item" ng-hide="signedIn()" ng-click="openLogin()">Register</a>
                <a class="item" ng-show="signedIn()">{{ user.username }}</a>
                <a class="item" ng-show="signedIn()" ng-click="logout()">Log Out</a>
            </div>
        </div>
    </div>
    <ui-gmap-google-map center='map.center' zoom='map.zoom'>
        <ui-gmap-circle center='userCircle.center'
                        radius='userCircle.radius'
                        fill='userCircle.fill'
                        stroke='userCircle.stroke'>
        </ui-gmap-circle>
        <ui-gmap-marker ng-repeat="ticket in allTickets" model="ticket" coords="{latitude: ticket.lat, longitude: ticket.long}" idkey="ticket.id" click="onClick(ticket)" options="{title: ticket.title}"></ui-gmap-marker>
        <ui-gmap-marker ng-repeat="ticket in userTickets" model="ticket" coords="{latitude: ticket.lat, longitude: ticket.long}" idkey="ticket.id" click="onClick(ticket)" options="{title: ticket.title}"></ui-gmap-marker>
    </ui-gmap-google-map>
</div>
