<div class="ui left vertical inverted labeled icon sidebar menu panel">
    <div class="ui inverted red menu">

    </div>
    <div ui-view="panel"></div>
    <div class="ui buttons">
        <div class="ui red button" ui-sref="home.search" ng-class="{ active: $state.$current.data.active === 'search'}">Tickets</div>
        <div class="ui red button" ui-sref="home.tickets" ng-class="{ active: $state.$current.data.active === 'tickets'}">My Tickets</div>
    </div>
</div>
<div class="container pusher">
    <div class="ui inverted menu navbar">
        <a class="item" ng-click="openSidebar()">
            <i class="content icon" ng-click="openSidebar"></i>
        </a>
        <div class="ui dropdown item">
            <i class="dropdown icon"></i>
            Profile
            <div class="menu">
                <a class="item" href="#/home">Home</a>
                <a class="item" ng-hide="signedIn()" ng-click="openLogin('login')">Log In</a>
                <a class="item" ng-hide="signedIn()" ng-click="openLogin()">Register</a>
                <a class="item" ng-show="signedIn()">{{ user.username }}</a>
                <a class="item" ng-show="signedIn()" ng-click="logout()">Log Out</a>
            </div>
        </div>
    </div>
    <h1>Test adding tickets</h1>
    <input type="text" class="form-control" ng-model="ticket.title">
    <input type="text" class="form-control" ng-model="ticket.description">
    <input type="boolean" class="form-control" ng-model="ticket.is_active">
    <input type="text" class="form-control" ng-model="ticket.lat">
    <input type="text" class="form-control" ng-model="ticket.long">
    <button ng-click="submitTicket()">Submit Ticket</button>
</div>