<div class="panel user-tickets flex column center-horizontal align-top">
  <h2 class="ui dividing teal header margin-double-top margin-bottom flex align-middle">
    User Tickets
  </h2>
  <div class="pos-absolute margin-double">
    <table class="ui table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Date Posted</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="ticket in userTickets">
          <td ui-sref="home.ticket-details({ticket_id:ticket.id})" class="title">{{ticket.title}}</td>
          <td>{{ticket.created_at | date: 'shortDate'}}</td>
          <td><button class="ui red button" ng-click="delete(ticket)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
