.panel {
  [ui-view="panel"] {
    height: 85%;
  }

  &.ui {
    &.menu {

      &.vertical {
        width: 300px !important;
      }


      .inverted {
        height: 35px;
        z-index: 20;
      }

      .flex {
        &.align-middle {
          height: 10%;

          .button {
            width: 50%;
          }
        }
      }
    }

    &.sidebar {
      &.uncover {
        &.visible {
          width: 300px !important;
        }
      }

      &.left {
        &.sidebar {
          z-index: 5;
          .pusher {
            -webkit-transform: translate3d(300px, 0, 0) !important;
            transform: translate3d(300px, 0, 0) !important;
          }
        }
      }
    }
  }

  &.create {
    .ui {
      .header:first-child {
        margin-top: 10px;
      }
    }

    .header {
      width: 275px;

      &.blue-text {
        color: #2a668c;
      }

      &.blue-border {
        border-bottom: 2px solid #2a668c;
      }

      &.margins {
        &.bottom {
          margin-bottom: 5px;
        }

        &.left-right {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    .field {
      width: 275px;

      &.margins {
        &.top {
          margin-top: 20px;
        }

        &.left-right {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    /*
      Unable to select textarea type correctly,
      currently using an id instead

    [text-area] {
      max-width: 275px;
      max-height: 180px;
      width: 275px;
      height: 180px;
    } */

    textarea#description {
      max-width: 275px;
      max-height: 210px;
      width: 275px;
      height: 210px;
    }

    .buttons {
      &.all {
        margin-top: 22px;
      }

      &.cancel {
        margin-right: 8px;
        vertical-align: top;
      }
    }
  }
}
