.panel {
  [ui-view="panel"] {
    height: 85%;
  }

  &.ui {
    &.menu {

      &.vertical {
        width: 300px !important;
      }


      .inverted {
        height: 35px;
        z-index: 20;
      }
    }

    &.sidebar {
      &.uncover {
        &.visible {
          width: 300px !important;
        }
      }

      &.left {
        &.sidebar {
          z-index: 5;
          .pusher {
            -webkit-transform: translate3d(300px, 0, 0) !important;
            transform: translate3d(300px, 0, 0) !important;
          }
        }
      }
    }
  }

  &.create {

    .header {
      margin: 0px auto !important;
      padding: 0px;
      width: 275px;
    }

    .field {
      margin: 0px auto !important;
      padding: 0px;
      width: 275px;
    }

    [text-area] {
      max-height: 160px;
      max-width: 275px;
      width: 275px;
      margin: 0px auto;
    }

    .form {
      &.btns {
        padding: 16px;

        &.cancel {
          margin-right: 15px;
        }
      }
    }
  }
}
