<div class="panel create flex column center-horizontal align-top">
    <form class="ui form">
      <h2 class="ui dividing header blue-text blue-border">Post a new ticket you would like to sell:</h2>
      <div class="field">
        <label class="ui small blue-text header create frm lbl">Title</label>
        <input type="text" class="form-control" placeholder="name of the event" ng-model="newTicket.title">
      </div>
      <div class="field">
        <label class="ui small blue-text header create frm lbl">Description</label>
        <textarea class="form-control" placeholder="a description of seat locations, event time, reason for selling, etc." ng-model="newTicket.description"></textarea>
      </div>
    </form>

    <div class="margin-double-top">
      <div class="ui red inverted icon button margin-double-right" ui-sref="home.tickets" ng-class="{ active: $state.$current.data.active === 'tickets'}">
        <i class="reply icon"></i> Cancel
      </div>
      <div class="ui red button" ng-click="submit()">Submit</div>
    </div>
</div>
