<div style="margin-left:8px; margin-right:8px">

  <form class="ui form" style="margin-top:35px;">
    <h2 class="ui blue dividing header">Post a new ticket you would like to sell:</h2>
    <div class="field">
      <label class="ui small blue header" style="margin-top:20px; margin-bottom:10px;">Title</label>
      <input type="text" class="form-control" placeholder="name of the event" ng-model="newTicket.title">
    </div>
    <div class="field">
      <label class="ui small blue header" style="margin-top:20px; margin-bottom:10px;">Description</label>
      <textarea class="form-control" placeholder="a description of seat locations, event time, reason for selling, etc." ng-model="newTicket.description"></textarea>
    </div>
  </form>

  <div style="margin-top:30px;">
    <div class="ui red inverted icon button" style="margin-right:10px;">
      <i class="reply icon"></i> Cancel
    </div>
    <div class="ui red button">Submit</div>
  </div>
</div>
