<div class="panel create panel-top pos-absolute full-width full-height left-right">
  <div class="pos-relative full-width full-height">
    <form class="ui form">
      <h2 class="ui blue dividing header margins left-right">Post a new ticket you would like to sell:</h2>
      <div class="create field margins top left-right">
        <label class="ui small blue header create margins bottom">Title</label>
        <input type="text" class="form-control" placeholder="name of the event" ng-model="newTicket.title">
      </div>
      <div class="create field margins top left-right">
        <label class="ui small blue header create margins bottom">Description</label>
        <textarea id="description" class="form-control" placeholder="a description of seat locations, event time, reason for selling, etc." ng-model="newTicket.description"></textarea>
      </div>
    </form>

    <div class="create buttons all">
      <div class="ui red inverted icon button create buttons cancel" ui-sref="home.tickets" ng-class="{ active: $state.$current.data.active === 'tickets'}">
        <i class="reply icon"></i> Cancel
      </div>
      <div class="ui red button" ng-click="submit()">Submit</div>
    </div>
  </div>
</div>
