@import 'variables.scss';
@import 'mixins.scss';
@import 'flexbox.scss';

@font-face {
    font-family: 'Icons';
    src: url("../../fonts/icons.eot");
    src: url("../../fonts/icons.eot?#iefix") format('embedded-opentype'), url("../../fonts/icons.woff2") format('woff'), url("../../fonts/icons.woff") format('woff'), url("../../fonts/icons.ttf") format('truetype'), url("../../fonts/icons.svg#icons") format('svg');
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-decoration: inherit;
    text-transform: none;
}

body {
    position:fixed;
    width: 100%;

    input[type="text"] {
        font-size: 1rem !important;
    }

    textarea {
        font-size: 1rem !important;
    }

    label {
        font-size: 1.25rem !important;
        text-align: left;
    }
}

.items{
    height: 85%;
    table{
        thead{
            th{
                font-size:13px;
                font-weight: bold;
                background-color: grey;
            }
        }
        tbody{
            td{
            font-size:12px;
            }
        }
    }
}

.navbar {
    .ui {
        &.dropdown {
            &.item {
            float: right;
            }
        }
    }
}

.view {
    width: 100%;
    height: 100%;
    position:absolute;
}

.container {
    height: 100%;
    width: 100%;

    .ui {
        &.navbar {
            margin: 0px;
        }
    }
}

.ngdialog {
    .ngdialog-content {
        position:relative;
        width:400px;
        padding: 25px;
        margin: 0 auto;
        margin-top: 20%;
        margin-bottom: 20%;

        .field {
            &.action {
                text-align: center;
                padding: 10px;
            }

            &.nav {
                text-align: center;
                .left {
                    margin-right: 5px;
                }

                .right {
                    margin-left: 5px;
                }
            }

            [type="submit"] {
                width: 120px;
                height: 50px;
            }
        }
    }
}

.pos-relative {
    position: relative !important;
}

.pos-absolute {
    position: absolute !important;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.left-right {
    left: 0px;
    right: 0px;
}

.margin {
    @include margin($defaultMargin);
}

.margin-top {
    @include margin-top($defaultMargin);
}

.margin-right {
    @include margin-right($defaultMargin);
}

.margin-bottom {
    @include margin-bottom($defaultMargin);
}

.margin-left {
    @include margin-left($defaultMargin);
}

.margin-double {
    @include margin($defaultMargin * 2);
}

.margin-double-top {
    @include margin-top($defaultMargin * 2);
}

.margin-double-right {
    @include margin-right($defaultMargin * 2);
}

.margin-double-bottom {
    @include margin-bottom($defaultMargin * 2);
}

.margin-double-left {
    @include margin-left($defaultMargin * 2);
}

.padding {
    @include padding($defaultPadding);
}

.padding-top {
    @include padding-top($defaultPadding);
}

.padding-right {
    @include padding-right($defaultPadding);
}

.padding-bottom {
    @include padding-bottom($defaultPadding);
}

.padding-left {
    @include padding-left($defaultPadding);
}

.padding-double {
    @include padding($defaultPadding * 2);
}

.padding-double-top {
    @include padding-top($defaultPadding * 2);
}

.padding-double-right {
    @include padding-right($defaultPadding * 2);
}

.padding-double-bottom {
    @include padding-bottom($defaultPadding * 2);
}

.padding-double-left {
    @include padding-left($defaultPadding * 2);
}