.navbar {
    .ui {
        &.dropdown {
            &.item {
            float: right;
            }
        }
    }
}


.panel {
    [ui-view="panel"] {
        height: 94%;
    }

    &.ui {
        &.menu {
            &.vertical {
                width: 300px !important;
            }
        }

        &.sidebar {
            &.uncover {
                &.visible {
                    width: 300px !important;
                }
            }

            &.left {
                &.sidebar {
                    .pusher {
                        -webkit-transform: translate3d(300px, 0, 0) !important;
                        transform: translate3d(300px, 0, 0) !important;
                    }
                }
            }
        }
    }
}

.ngdialog {
    .ngdialog-content {
        position:relative;
        width:400px;
        padding: 25px;
        margin: 0 auto;
        margin-top: 20%;
        margin-bottom: 20%;

        .field {
            &.action {
                text-align: center;
                padding: 10px;
            }

            &.nav {
                text-align: center;
                .left {
                    margin-right: 5px;
                }

                .right {
                    margin-left: 5px;
                }
            }

            [type="submit"] {
                width: 120px;
                height: 50px;
            }
        }
    }
}