.angular-google-map-container { height: 100%; width: 100%;}
.angular-google-map { height: 100%; width: 100%;}

.pusher {
    z-index: 10 !important;
}

.navbar {
    .ui {
        &.dropdown {
            &.item {
            float: right;
            }
        }
    }
}

.container {
    height: 100%;
    width: 100%;

    .ui {
        &.navbar {
            margin: 0px;
        }
    }
}

.panel {
    [ui-view="panel"] {
        height: 85%;
    }

    &.ui {
        &.menu {

            &.vertical {
                width: 300px !important;
            }


            .inverted {
                height: 35px;
                z-index: 20;
            }
        }

        &.sidebar {
            &.uncover {
                &.visible {
                    width: 300px !important;
                }
            }

            &.left {
                &.sidebar {
                    z-index: 5;
                    .pusher {
                        -webkit-transform: translate3d(300px, 0, 0) !important;
                        transform: translate3d(300px, 0, 0) !important;
                    }
                }
            }
        }
    }
}

.ngdialog {
    .ngdialog-content {
        position:relative;
        width:400px;
        padding: 25px;
        margin: 0 auto;
        margin-top: 20%;
        margin-bottom: 20%;

        .field {
            &.action {
                text-align: center;
                padding: 10px;
            }

            &.nav {
                text-align: center;
                .left {
                    margin-right: 5px;
                }

                .right {
                    margin-left: 5px;
                }
            }

            [type="submit"] {
                width: 120px;
                height: 50px;
            }
        }
    }
}