@mixin margin($size) {
  margin: $size !important;
}

@mixin margin-top($size) {
  margin-top: $size !important;
}

@mixin margin-right($size) {
  margin-right: $size !important;
}

@mixin margin-bottom($size) {
  margin-bottom: $size !important;
}

@mixin margin-left($size) {
  margin-left: $size !important;
}

@mixin padding($size) {
  padding: $size !important;
}

@mixin padding-top($size) {
  padding-top: $size !important;
}

@mixin padding-right($size) {
  padding-right: $size !important;
}

@mixin padding-bottom($size) {
  padding-bottom: $size !important;
}

@mixin padding-left($size) {
  padding-left: $size !important;
}

@mixin center-content($layout) {
  -webkit-box-pack: $layout;
  -webkit-justify-content: $layout;
  -ms-flex-pack: $layout;
  justify-content: $layout;
  text-align: $layout;
}

@mixin center-items($layout) {
  -webkit-box-align: $layout;
  -webkit-align-items: $layout;
  -ms-flex-align: $layout;
  align-items: $layout;
}

@mixin align-items($default, $flex) {
  -webkit-box-align: $default;
  -webkit-align-items: $flex;
  -ms-flex-align: $default;
  align-items: $flex;
}

@mixin justify-content($default, $flex) {
  -webkit-box-pack: $default;
  -webkit-justify-content: $flex;
  -ms-flex-pack: $default;
  justify-content: $flex;
  text-align: $default;
}