<div ng-show="loginTry">
<form class="ui form" ng-submit="login()">
  <h4 class="ui dividing header">Login</h4>
    <div class="field">
      <label>Email</label>
      <input type="email" class="form-control" placeholder="Email" ng-model="person.email">
    </div>
    <div class="field">
      <label>Password</label>
      <input type="password" class="form-control" placeholder="Password" ng-model="person.password">
    </div>
    <input type="submit" class="btn btn-default" value="Log In">
  </form>
</div>
<div ng-show="registerTry">
  <div>
    <span>Register</span>
  </div>

  <form ng-submit="register()">
    <div class="input-group">
      <input type="email" class="form-control" placeholder="Email" ng-model="registerUser.email">
    </div>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Username" ng-model="registerUser.username">
    </div>
    <div class="input-group">
      <input type="password" class="form-control" placeholder="Password" ng-model="registerUser.password">
    </div>
    <input type="submit" class="btn btn-default" value="Register">
  </form>
</div>