<div ng-show="loginTry">
<form class="ui form" ng-submit="login()">
  <h4 class="ui dividing header">Login</h4>
    <div class="field">
      <label>Email</label>
      <input type="email" class="form-control" placeholder="Email" ng-model="person.email">
    </div>
    <div class="field">
      <label>Password</label>
      <input type="password" class="form-control" placeholder="Password" ng-model="person.password">
    </div>
    <div class="field action">
      <input type="submit" class="ui button" value="Log In">
    </div>
  </form>
</div>
<div ng-show="registerTry">
<form class="ui form" ng-submit="register()">
  <h4 class="ui dividing header">Register</h4>
  <div class="field">
    <label>Email</label>
    <input type="email" class="form-control" placeholder="Email" ng-model="registerUser.email">
  </div>
  <div class="field">
    <input type="text" class="form-control" placeholder="Username" ng-model="registerUser.username">
  </div>
  <div class="field">
    <input type="password" class="form-control" placeholder="Password" ng-model="registerUser.password">
  </div>
  <div class="field action">
    <input type="submit" class="ui button" value="Register">
  </div>
  </form>
</div>
<div class="field nav">
<div class="ui buttons">
  <div class="ui button left" ng-click="openLogin('login')">Login</div>
  <div class="ui button" ng-click="openLogin('register')">Register</div>
  <div class="ui button right">Guest</div>
</div>
</div>