<!DOCTYPE html>
<html lang="en">
<head>
  <title>FlapperNews</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="geotix">
<ui-view class="view"></ui-view>
</body>
</html>
